.modal.diary(style="display: none")
   .modal__inner.diary__inner
      img.diary__icon(src="images/icons/point.svg" alt="!")
      p.diary__text.
         Анкета – как первая любовь, случается с тобой только однажды. Эту анкету можно заполнить только сейчас. #[br] Подумай хорошенько.  Второго шанса не будет :(
      .diary__btns
         a.btn.btn--yellow(href="#")
            span пропустить
         a.btn(href="#")
            span заполнить анкету

.profile.profile--woman(style="display: none")
   a.profile__close(href="#")
      img(src="images/icons/close.svg", alt="закрыть")
   img.profile__cells(src="images/profile/profile-cells.svg", alt="клетки")
   .profile__top
      h2.profile__title.profile__title--mob
         span Ан
         span ке
         span та
      .profile__photo
         img(src="images/match/person-2.png" alt="фотка" width="175")
      p.profile__name Джорджиана Мухомедзянова
      img.profile__broken(src="images/profile/broken-woman.png", alt="сердечко" width="79" height="113")
      img.profile__heart.profile__heart--1(src="images/all/heart.gif" alt="сердечко" width="35" height="35")
      img.profile__heart.profile__heart--2(src="images/all/heart.gif" alt="сердечко" width="35" height="35")
      img.profile__heart.profile__heart--3(src="images/all/heart.gif" alt="сердечко" width="35" height="35")
   .profile__info
      img.profile__heart.profile__heart--4(src="images/all/heart.gif" alt="сердечко" width="35" height="35")
      img.profile__heart.profile__heart--5(src="images/all/heart.gif" alt="сердечко" width="35" height="35")
      img.profile__heart.profile__heart--6(src="images/all/heart.gif" alt="сердечко" width="35" height="35")
      img.profile__heart.profile__heart--7(src="images/all/heart.gif" alt="сердечко" width="35" height="35")
      .profile__list
         .profile__item
            p.profile__question Что ты любишь больше:
            p.profile__answer Чай
         .profile__item
            p.profile__question К кому ты себя относишь:
            p.profile__answer К совам
         .profile__item
            p.profile__question Кто сильнее:
            p.profile__answer Бэтмен
         .profile__item
            p.profile__question Тебе приятнее:
            p.profile__answer Дарить подарки
         .profile__item
            p.profile__question Корочка от пиццы:
            p.profile__answer Конечно, съем
         .profile__item
            p.profile__question Какой вид отдыха тебе по душе:
            p.profile__answer Активный
         .profile__item
            p.profile__question Легче переносишь:
            p.profile__answer Жару
         .profile__item
            p.profile__question Больше любишь:
            p.profile__answer Фильмы
         .profile__item
            p.profile__question Тебе больше нравится:
            p.profile__answer Сладкое
      h2.profile__title.profile__title--desk
         span Ан
         span ке
         span та

.profile.profile--man(style="display: none")
   a.profile__close(href="#")
      img(src="images/icons/close.svg", alt="закрыть")
   img.profile__cells(src="images/profile/profile-cells.svg", alt="клетки")
   .profile__top
      h2.profile__title.profile__title--mob
         span Ан
         span ке
         span та
      .profile__photo
         img(src="images/match/person-1.png" alt="фотка" width="175")
      p.profile__name Александр Мухомедзянов
      img.profile__broken(src="images/profile/broken-man.png", alt="сердечко" width="79" height="113")
      img.profile__heart.profile__heart--1(src="images/all/heart.gif" alt="сердечко" width="35" height="35")
      img.profile__heart.profile__heart--2(src="images/all/heart.gif" alt="сердечко" width="35" height="35")
      img.profile__heart.profile__heart--3(src="images/all/heart.gif" alt="сердечко" width="35" height="35")
   .profile__info
      img.profile__heart.profile__heart--4(src="images/all/heart.gif" alt="сердечко" width="35" height="35")
      img.profile__heart.profile__heart--5(src="images/all/heart.gif" alt="сердечко" width="35" height="35")
      img.profile__heart.profile__heart--6(src="images/all/heart.gif" alt="сердечко" width="35" height="35")
      img.profile__heart.profile__heart--7(src="images/all/heart.gif" alt="сердечко" width="35" height="35")
      .profile__list
         .profile__item
            p.profile__question Что ты любишь больше:
            p.profile__answer Чай
         .profile__item
            p.profile__question К кому ты себя относишь:
            p.profile__answer К совам
         .profile__item
            p.profile__question Кто сильнее:
            p.profile__answer Бэтмен
         .profile__item
            p.profile__question Тебе приятнее:
            p.profile__answer Дарить подарки
         .profile__item
            p.profile__question Корочка от пиццы:
            p.profile__answer Конечно, съем
         .profile__item
            p.profile__question Какой вид отдыха тебе по душе:
            p.profile__answer Активный
         .profile__item
            p.profile__question Легче переносишь:
            p.profile__answer Жару
         .profile__item
            p.profile__question Больше любишь:
            p.profile__answer Фильмы
         .profile__item
            p.profile__question Тебе больше нравится:
            p.profile__answer Сладкое
      h2.profile__title.profile__title--desk
         span Ан
         span ке
         span та

.horoscope(style="display: none")
   a.horoscope__close(href="#")
      img(src="images/icons/close.svg", alt="закрыть" width="40" height="40")
   img.horoscope__icon(src="images/zodiac/oven.png", alt="овен" width="95" height="95")
   h2.horoscope__title Овен
   p.horoscope__text.
      Одинокие Овны могут влюбиться в кого-то или у них могут возникнуть чувства к человеку, которого они знают уже давно. У представителей знака, которые состоят в отношениях, всё останется по-прежнему.

.plan(style="display: none")
   a.plan__close(href="#")
      img(src="images/icons/close.svg", alt="закрыть" width="40" height="40")
   .plan__top
      .plan__icon
         img(src="images/match/broken-mob.png", alt="сердечко")
      h2.plan__title.title Есть MATCH, #[span что дальше?]
   .plan__info
      ol.plan__list
         li Свяжись со своей половинкой
         li Встретьтесь на фотозоне в офисе или созвонитесь по видеосвязи
         li Сделайте совместное фото или скрин
         li Пришлите его в чат и дождитесь апрува от модератора 
         li Заберите подарок
      p.plan__text.
         Выполнив все условия, заберите подарок 14.02. на фотозоне возле Wellness Room 
         до 17:45. #[br]
         В остальные дни напишите Viktoryia Liashchuk, чтобы забрать подарок.

.time(style="display: none")
   a.time__close(href="#")
      img(src="images/icons/close.svg", alt="закрыть" width="40" height="40")
   p.time__text.
      Лекция ещё не началась :( #[br]
      Заходи сюда в 
   p.time__clock 12:10

.video(style="display: none")
   .video__inner
      .video__top
         a.video__btn(href="#")
            img(src="images/lecture/lecture-icon-1.svg", alt="иконка")
         a.video__btn(href="#")
            img(src="images/lecture/lecture-icon-2.svg", alt="иконка")
      .video__content.ratio.ratio-16x9
         iframe(width="560" height="315" src="https://www.youtube.com/embed/XS088Opj9o0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)