.modal.diary(style="display: none")
   .modal__inner.diary__inner
      img.diary__icon(src="images/icons/point.svg", alt="!")
      p.diary__text.
         Анкета – как первая любовь, случается с тобой только однажды. Эту анкету можно заполнить только сейчас. #[br] Подумай хорошенько.  Второго шанса не будет :(
      .diary__btns
         a.btn.btn--yellow(href="#")
            span пропустить
         a.btn(href="#")
            span заполнить анкету
